#!name = 🎬 YouTube GPT 字幕
#!desc = 使用 GPT 在 YouTube App 中显示双语字幕（原文 + 翻译）
#!author = @yjlsx
#!homepage = https://github.com/yjlsx/quantumult-x
#!icon = https://raw.githubusercontent.com/chavyleung/scripts/master/box/icons/openai.png
#!category = YouTube
#!date = 2026-03-07 00:10:00
#!version = 0.1.0

[rewrite_local]
^https?:\/\/(www|m)\.youtube\.com\/youtubei\/v1\/player(\?.*)?$ url script-request-body https://raw.githubusercontent.com/yjlsx/quantumult-x/master/yjlsx/ytb_gpt.js

^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/player(\?.*)?$ url script-request-body https://raw.githubusercontent.com/yjlsx/quantumult-x/master/yjlsx/ytb_gpt.js

^https?:\/\/(www|m)\.youtube\.com\/youtubei\/v1\/player(\?.*)?$ url script-response-bodyhttps://raw.githubusercontent.com/yjlsx/quantumult-x/master/yjlsx/ytb_gpt.js

^https?:\/\/youtubei\.googleapis\.com\/youtubei\/v1\/player(\?.*)?$ url script-response-body https://raw.githubusercontent.com/yjlsx/quantumult-x/master/yjlsx/ytb_gpt.js

^https?:\/\/(www|m)\.youtube\.com\/api\/timedtext(\?.*)?$ url script-request-header https://raw.githubusercontent.com/yjlsx/quantumult-x/master/yjlsx/ytb_gpt.js

^https?:\/\/(www|m)\.youtube\.com\/api\/timedtext(\?.*)?$ url script-response-body https://raw.githubusercontent.com/yjlsx/quantumult-x/master/yjlsx/ytb_gpt.js




[mitm]
hostname = www.youtube.com, m.youtube.com, *.googlevideo.com, youtubei.googleapis.com
